/* webpage body style */
html, body {
    height: 100%;
    background-color: #1a1a1a;
    color: rgb(233, 233, 233);
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/* header style */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    font-weight: bold;
    background-color: #010005;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* below header style */
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

/* search box style */
.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 10px;
}
/* search icon style */
.search-icon {
    color: #aaa; /* Icon color */
    font-size: 15px;
    margin-right: 10px; /* Add some space between the search icon and input field */
}
/* search button style */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #333; /* Dark background */
    border-radius: 20px;
    width: 20%; /* Make the search bar take up a quarter of the page width */
    min-width: 250px; /* Optionally set a min width */
    padding: 6px 10px;
}
/* input text style */
.search-bar input[type="search"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
    color: white; /* Text color */
    font-size: 16px;
    width: 100%;
    margin-right: 10px; /* Add some space between the input field and the button */
}
/* placeholder text style */
.search-bar input[type="search"]::placeholder {
    color: #aaa; /* Placeholder text color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.search-bar .search-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
/* Additional styles to remove default input styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
/* grid style */
#tradingPairsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
    gap: 3rem;
    padding: 3rem;
}

/* card style */
.currency-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.currency-card:hover {
    background-color: #f2f2f2b7; 
}
.currency-icon {
    max-width: 30px;
    max-height: 30px;
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
}
.currency-name {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 0px;
    color: #858585;
}
.currency-abbreviation {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

/* table style */
table {
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0 auto;
}
  
th, td {
    border: none;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-size: 25px;
}

tr {
    background-color: #1b1b1b;
}

td:first-child {
    font-weight: bold;
  }

.crypto-name-and-logo {
    display: flex;
    align-items: center;
}

.crypto-name {
    margin-left: 20px;
}

.crypto-logo {
    max-width: 30px;
    max-height: 30px;
    height: auto; /* Maintain aspect ratio */
    /*margin-left: 20px;*/
}

/* chart style */
#chart-container {
    margin: auto;
    position: relative;
    color:#1b1b1b;
    background-color: #1b1b1b;
}

/* dropdown list style */
select {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    background-color: #1b1b1b;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px; /* Adjust this to add padding on the right side of the select */
    background-position-x: calc(100% - 10px); /* Adjust the X position to move the arrow closer to the text */
    background-position-y: 50%; /* Center the arrow vertically */
    background-size: 12px; /* Adjust the size of the arrow as needed */
}

.update-granularity-dropdown {
    margin-left: 15%;
}


/* chart canvas style */
canvas {
    position: relative;
    margin-left: 20px;
    margin-right: 50px;
    max-height: 70vh;
    width: 80vw;
    height: 80vh;
    color: #1b1b1b;
    background-color: #1b1b1b;
}

/* dynamic price display style */
.price-label {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 0px;
    color: #858585;

}
.price-display {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

/* button styles */
.button-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 5%;
}

.update-date-buttons {
    display: flex;
    vertical-align: top; /* Aligns the tops of the two button groups */
    padding-right: 3%;
    flex: 1;
    justify-content: flex-end;
}

.update-date-button {
    font-size: 14px;
    margin: 0 5px;
    background-color: #1b1b1b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease;
}

button.update-date-button.active {
    background-color: #0a82f1; /* Change to desired color on click */
}
