/* webpage body style */
body, html {
    height: 100%;
    background-color: #303030;
    color: rgb(233, 233, 233);
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
/* loading indicator style */
.loading-indicator {
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    cursor: default;
    color: #d1d1d1;
}
/* main page header style */
.main-page-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 2.5em; /* Larger font size */
    color: #fff;
    background-color: #303030;
    padding: 20px 0; /* Increased padding for a more spacious look */
    margin: 0; /* Remove default margin */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow for depth */
    border-bottom: 3px solid #f7f7f7; /* Adding a border for a touch of color */
    text-transform: uppercase; /* Make the text uppercase for impact */
    letter-spacing: 1.5px; /* Increase letter spacing for a modern look */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Text shadow for a subtle 3D effect */
    cursor: default;
}
/* chart page header style */
.chart-page-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 0.8em; 
    color: #fff;
    background-color: #303030;
    padding-top: 7px;
    padding-bottom: 6px;
    padding: 1; /* Increased padding for a more spacious look */
    margin: 0; /* Remove default margin */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow for depth */
    border-bottom: 3px solid #f7f7f7; /* Adding a border for a touch of color */
    text-transform: uppercase; /* Make the text uppercase for impact */
    letter-spacing: 1.5px; /* Increase letter spacing for a modern look */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Text shadow for a subtle 3D effect */
    cursor: default;
}

/* coinbase logo style */
.coinbase-logo {
    height: 1em; 
    vertical-align: middle; /* Aligns the logo with the middle of the text */
    margin-left: 5px; /* Adds a small space between the text and the logo */
    margin-top: -3.5px;
}

/* below header style */
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

/* search box style */
.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 10px;
}
/* search icon style */
.search-icon {
    color: #aaa; /* Icon color */
    font-size: 15px;
    margin-right: 10px; /* Add some space between the search icon and input field */
}
/* search button style */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #333; /* Dark background */
    border-radius: 20px;
    width: 20%; /* Make the search bar take up a quarter of the page width */
    min-width: 250px; /* Optionally set a min width */
    padding: 6px 10px;
}
/* input text style */
.search-bar input[type="search"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
    color: white; /* Text color */
    font-size: 16px;
    width: 100%;
    margin-right: 10px; /* Add some space between the input field and the button */
}
/* placeholder text style */
.search-bar input[type="search"]::placeholder {
    color: #aaa; /* Placeholder text color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.search-bar .search-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
/* Additional styles to remove default input styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
/* sort button style */
.sort-container {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: right; /* Center vertically */
    margin-top: 130px;
    margin-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 1em;
}


/* grid style */
#tradingPairsGrid {
    background-color: #303030;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5rem;
    padding: 3rem;
}

/* card style */
.currency-card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(37, 37, 37); /* Example background color */
    box-shadow: 0 5px 4px rgba(0.3, 0.3, 0.3, 0.3); /* Example shadow */
    border-radius: 4px; /* Rounded corners */
    width: 250px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    overflow: hidden; /* Ensures content does not overflow */
}

.currency-card:hover {
    background-color: #2c2c2cb7; 
}
.currency-image {
    max-width: 100%; /* Ensure image does not exceed card width */
    max-height: 80px; /* Set a max-height for the image */
    margin-right: 10px; /* Space between image and text */
    object-fit: contain; /* Keep aspect ratio */
}
.currency-text {
    display: flex;
    flex-direction: column;
    align-items: left; /* Center align the text vertically */
    margin-left: 15px;
}
.currency-full-name {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1.2em;
    margin-right: 5px;
    color: #e6e6e6;
}
.currency-abbreviation {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
    opacity: 0.7;
    font-size: 1em;
    margin-top: 10px;
    color: #c0c0c0;
}

/* chart style */
#chart-container {
    margin: auto;
    position: relative;
    color:#303030;
    background-color: #303030;
}

/* dropdown list style */
select {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #d8d8d8;
    background-color: #303030;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px; /* Adjust this to add padding on the right side of the select */
    background-position-x: calc(100% - 10px); /* Adjust the X position to move the arrow closer to the text */
    background-position-y: 50%; /* Center the arrow vertically */
    background-size: 12px; /* Adjust the size of the arrow as needed */
}

.update-granularity-dropdown {
    margin-left: 15%;
}

.update-quote-currency-dropdown {
    margin-left: 20px;
}

/* chart canvas style */
canvas {
    position: relative;
    margin-left: 20px;
    margin-right: 50px;
    max-height: 70vh;
    width: 80vw;
    height: 80vh;
    color: #303030;
    background-color: #303030;
}
/* coin info style */
.coin-info {
    position: absolute; /* Position it relative to the browser window */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add some padding */
    background-color: #303030; /* Background color of the coin info box */
    border-radius: 8px; /* Rounded corners */
    margin-top: 9vh;
    margin-left: 10vw;
  }
  
/* Image of the coin */
.coin-image {
    width: 70px; /* Set a fixed width for the image */
    height: 70px; /* Set a fixed height for the image */
    border-radius: 50%; /* Make it round */
    margin-right: 10px; /* Add margin to the right of the image */
    object-fit: cover; /* Ensure the image covers the area without stretching */
}

/* Name of the coin */
.coin-name {
    font-size: 2em; /* Size of the coin name */
    font-weight: bold; /* Make the font bold */
    margin-bottom: 4px; /* Add some space below the name */
    margin-left: 2vh;
}

/* Abbreviation of the coin */
.coin-abbreviation {
    font-size: 15px; /* Size of the abbreviation */
    color: #666; /* A lighter color for the abbreviation */
    margin-left: 1vh;
    font-weight: bold;
}
  

/* dynamic price display style */
.price-label {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 5vh;
    color: #858585;

}
.price-display {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

/* button styles */
.button-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1em;
    color: #ffffff
}

.update-date-buttons {
    display: flex;
    vertical-align: top; /* Aligns the tops of the two button groups */
    padding-right: 3%;
    flex: 1;
    justify-content: flex-end;
}

.update-date-button {
    font-size: 14px;
    margin: 0 5px;
    background-color: #303030;
    color: #d8d8d8;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease;
}

button.update-date-button.active {
    background-color: #0a82f1; /* Change to desired color on click */
}
